*{
  box-sizing: border-box;

}
header {
  background-color:goldenrod
 
}

h1 {
  text-align: center;
}

header img {
  margin-bottom: 0cm;
  height: 80px;
  display: inline-flex;
}

nav {
  margin: 1rem auto;
  width: 960px;
  display: flex;
  justify-self: unset;
  align-items: left;
}

nav li {
  display: inline-block;
  padding: 3rem;
  margin-left: 20px;
}

body {
  font-style: oblique;
  background-color: gray;
}


main {
  margin: 30px auto 0;
  width: 960px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  justify-content: space-between;
  align-items: flex-start;
}

img {
  margin-bottom: 30px;
}

footer {
  background-color:goldenrod;
  height: 80px;
}

footer li {
  display:inline-block;
  padding: 3rem;
  margin-left: 20px;
}

article {
  width: 450px;
}

article section {
  height: 320px;
  overflow: auto;

}



body {
  background-color:blanchedalmond;
  font-family: Georgia, 'Times New Roman', Times, serif;
  padding: 2rem;

}

.location {
  background-color: bisque;
  padding: 0 1rem;
  transition: all 0.5s ease-out;
}

.location:hover {
  transform: scale(1.1);
}

.flex {
  display:flex;
  justify-content: space-between;
}

ul {
  margin-left: 1rem;
  list-style: disc;
  padding-left: 1rem;

}

ol {
  list-style-position: inside;
  list-style: decimal;
  padding: 1rem;
  margin-left: 1rem;
}

article section {
  height: 275px;
  overflow: auto;
  margin-bottom: 10px;
  background-color:royalblue ;
}

