
* {
  box-sizing: border-box;
}

td{
  border: solid .5rem lightskyblue;
  display: inline-flex;
}

body {
  background-color: orange;
  border: solid 1rem slategray;
  margin: 2rem;
  padding: 2rem;
}
header {
  font-size: 4rem;
  margin: 2rem;
  padding: 2rem;
  text-align: center;
  border-bottom: solid .5rem slategray;
}



body{
  background-color: orange;
}
